/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Fredoka+One&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5.5rem;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: hsl(49, 100%, 53%);
  --second-color: hsl(349, 89%, 55%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 33%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(218, 67%, 98%);

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: 'Epilogue', sans-serif;
  --second-font: 'Fredoka One', sans-serif;
  --biggest-font-size: 5.5rem;
  --bigger-font-size: 3.7rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;

  /*========== Font weight ==========*/
  --weight-400: 400;

  /*========== Transition ==========*/
  --transition: ease-in-out;
}

/*=============== BASE ===============*/

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== HEADER & NAV ===============*/

/* Active link */

/*=============== HOME ===============*/

/* Swiper */

/*=============== BUTTON ===============*/

/*=============== ABOUT ===============*/

/*=============== MENU ===============*/

/*=============== SERVICES ===============*/

/*=============== DEALS ===============*/

/*=============== MENU ===============*/

/*=============== RESERVATION ===============*/

/*=============== GALLERY ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

/* For medium devices */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 450px) {
}
